html, body {
    height: 100%;
}
  
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    border: none;
    background-color: transparent;
}

#sketch-container {
    overflow: hidden;
    width: 500px;
    height: 500px;
}
